In [1146]:
import numpy as np     #importing necessary libraries
import pandas as pd

In [1147]:
na_vals=["N/a","na",np.nan,"?","NA"]

In [ ]:
data=pd.read_csv('/content/cltv.csv',na_values=na_vals)  # Reading the data by importing csv file

In [ ]:
data.head(10)   #Reading the first 10 rows of the dataset

In [ ]:
data.info()

In [ ]:
data.isna().sum()   #Finding is there any null values are present in the dataset

So, Null values are present in the Dataset, for filling the null vlaues in the categorical variables used Mode imputation method and for Numerical variables used Median imputation.

In [ ]:
numericalcolumns_n=[]                  #seperating the numerical and categorical columns 
categoricalcolumns_c=[]
for i in data.columns:
  if data[i].dtypes==object:
    categoricalcolumns_c.append(i)
  else:
    numericalcolumns_n.append(i)

In [ ]:
numericalcolumns_n

In [ ]:
data[numericalcolumns_n].isna().sum()    # Finding null values only for numerical columns

In [ ]:
data[categoricalcolumns_c].isna().sum()   # Finding null values only for categorical columns

In [ ]:
for col in categoricalcolumns_c:                                  #reading value counts for categorical columns
    print("Value counts for column {}:".format(col))
    print(data[col].value_counts())
    print("\n")

#Filling null values in Numerical variables with Median

In [ ]:
median_A = data['Monthly.Premium.Auto'].median()
median_B = data['Number.of.Open.Complaints'].median()
median_C = data['Number.of.Policies'].median()
median_D = data['Vehicle.Size'].median()
median_E = data['Income'].median()
data['Monthly.Premium.Auto'] = data['Monthly.Premium.Auto'].fillna(median_A)
data['Number.of.Open.Complaints'] = data['Number.of.Open.Complaints'].fillna(median_B)
data['Number.of.Policies'] = data['Number.of.Policies'].fillna(median_C)
data['Vehicle.Size'] = data['Vehicle.Size'].fillna(median_D)
data['Income']=data['Income'].fillna(median_E)

In [ ]:
data[numericalcolumns_n].isna().sum()

In [ ]:
data[numericalcolumns_n]

In [ ]:
data[numericalcolumns_n].dtypes

#Filling Null values in Categorical variables with Mode

In [ ]:
categoricalcolumns_c

In [ ]:
# Loop over each categorical column
for col in data.select_dtypes(include='object'):
    # Calculate the mode of the column
    mode_val = data[col].mode()[0]
    # Fill null values with the mode of the column
    data[col].fillna(mode_val, inplace=True)

In [ ]:
data[categoricalcolumns_c].isna().sum()

In [ ]:
data.isna().sum()

In [ ]:
for col in categoricalcolumns_c:
    print("Value counts for column {}:".format(col))
    print(data[col].value_counts())
    print("\n")

In [ ]:
data[categoricalcolumns_c].columns

In [ ]:
# converting categorical columns as type category
categoricalcolumns_c=data[categoricalcolumns_c].astype('category')

In [ ]:
data_a= np.array(categoricalcolumns_c)

In [ ]:
# Encode each categorical column with numerical labels
encoded_data = []
for col in range(data_a.shape[1]):
    # Get unique categories in the column
    categories = np.unique(data_a[:, col])
    # Create a dictionary to map categories to numerical labels
    label_map = {}
    for i in range(len(categories)):
        label_map[categories[i]] = i
    # Encode the column with numerical labels
    encoded_col = np.array([label_map[d] for d in data_a[:, col]])
    # Add the encoded column to the list
    encoded_data.append(encoded_col)

# Convert the list of encoded columns to a 2D array
encoded_data = np.stack(encoded_data, axis=1)

# Print the encoded data
print(encoded_data)

In [ ]:
dataframe_d = pd.DataFrame(data=encoded_data, columns=['Coverage', 'Education', 'EmploymentStatus', 'Gender', 'Location.Geo','Location.Code', 'Marital.Status', 'Policy.Type', 'Policy',
'Renew.Offer.Type', 'Sales.Channel', 'Vehicle.Class'])

In [ ]:
dataframe_d

In [ ]:
dataframe_d.dtypes

In [ ]:
numericalcolumns_n

In [ ]:
dataframe_d

In [ ]:
data[numericalcolumns_n]

In [ ]:
dataconcat = pd.concat([data[numericalcolumns_n],dataframe_d],axis=1)

In [ ]:
dataconcat

In [ ]:
dataconcat.describe()

# VISUALIZATION

In [ ]:
corr= dataconcat.corr()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
plt.figure(figsize=(15,15))
sns.heatmap(corr,cmap='coolwarm',annot=True)
plt.show()

In [ ]:
# Select the column of data
column_data = dataconcat['Monthly.Premium.Auto']

# Create a box plot
plt.boxplot(column_data)

# Add labels and title
plt.xlabel('Monthly.Premium.Auto')
plt.ylabel('Customer.Lifetime.Value')
plt.title('Box Plot of Monthly.Premium.Auto Data')

# Show the plot
plt.show()

In [ ]:
# Select the column of data
column_data = dataconcat['Total.Claim.Amount']

# Create a box plot
plt.boxplot(column_data)

# Add labels and title
plt.xlabel('Total.Claim.Amount')
plt.ylabel('Customer.Lifetime.Value')
plt.title('Box Plot of Total.Claim.Amount Data')

# Show the plot
plt.show()

In [ ]:
sns.distplot(dataconcat['Total.Claim.Amount'])

In [ ]:
dataconcat['Total.Claim.Amount'].skew()

In [ ]:
sns.distplot(dataconcat['Monthly.Premium.Auto'])

# Feature Engineering

In [1144]:
numericalcolumns_n

['CustomerID',
 'Customer.Lifetime.Value',
 'Income',
 'Monthly.Premium.Auto',
 'Months.Since.Last.Claim',
 'Months.Since.Policy.Inception',
 'Number.of.Open.Complaints',
 'Number.of.Policies',
 'Total.Claim.Amount',
 'Vehicle.Size']

In [1145]:
# Create a list of columns to transform
columns_to_transform = ['CustomerID',
 'Customer.Lifetime.Value',
 'Income',
 'Monthly.Premium.Auto',
 'Months.Since.Last.Claim',
 'Months.Since.Policy.Inception',
 'Number.of.Open.Complaints',
 'Number.of.Policies',
 'Total.Claim.Amount',
 'Vehicle.Size']

# Loop through each column and apply the log transformation
for column in columns_to_transform:
    for i in range(len(dataconcat[column])):
        if dataconcat[column][i] > 0:
            dataconcat[column][i] = np.log(datacancat[column][i])
        else:
            dataconcat[column][i] = 0

NameError: ignored

In [ ]:
dataconcat[columns_to_transform]

In [ ]:
dataconcat[numericalcolumns_n].isna().sum()

In [ ]:
sns.distplot(dataconcat['Monthly.Premium.Auto'])

In [ ]:
sns.distplot(dataconcat['Total.Claim.Amount'])

In [ ]:
dataconcat['Total.Claim.Amount.4']= dataconcat['Total.Claim.Amount']**4

In [ ]:
dataconcat.columns

In [ ]:
dataconcat['Total.Claim.Amount.4'],dataconcat['Total.Claim.Amount']

In [ ]:
 6.337725 * 6.337725* 6.337725* 6.337725

In [ ]:
dataconcat.drop('Total.Claim.Amount',axis=1,inplace=True)

In [ ]:
#sns.distplot(data)

In [ ]:
dataconcat.skew()

In [ ]:
df_2 = dataconcat['Monthly.Premium.Auto']**2

In [ ]:
sns.distplot(df_2)

In [ ]:
# sns.distplot(df_3)

In [ ]:
dataframe_d.columns

In [ ]:
unique_counts = dataframe_d.nunique()

In [ ]:
unique_counts

In [ ]:
dataconcat.drop('Location.Geo',axis=1,inplace=True)

In [ ]:
dataconcat.drop('CustomerID',axis=1,inplace=True)

In [ ]:
type(numericalcolumns_n)

In [ ]:
numericalcolumns_n

In [ ]:
numericalcolumns_n.remove('CustomerID')

In [ ]:
numericalcolumns_n.remove('Customer.Lifetime.Value')

In [ ]:
dataconcat.columns

In [ ]:
numericalcolumns_n.append('Total.Claim.Amount.4')

In [ ]:
numericalcolumns_n.remove('Total.Claim.Amount')

In [ ]:
numericalcolumns_n

In [ ]:
# datafarme_name,numerical_cols
def std_scaler(x,y):
  for i in y:
      s_list=[]
      std=np.std(x[i])
      mean=np.mean(x[i])
      for j in x[i]:
          s_list.append((j-mean)/std)
      dataconcat['scaled_'+i]=s_list
      dataconcat(i,axis=1,inplace=True)

In [ ]:
std_scaler(dataconcat,numericalcolumns_n)

In [ ]:
dataconcat.info()

In [ ]:
# Extract the features and target variable
X = dataconcat.drop(['Customer.Lifetime.Value'], axis=1).values
y = dataconcat['Customer.Lifetime.Value'].values

In [ ]:
train_size = int(0.7* len(X))
X_train, X_test = X[:train_size], X[train_size:]
y_train, y_test = y[:train_size], y[train_size:]

In [ ]:

# Step 4: Define the model parameters
lambda_param = 0.01
alpha = 0.01

In [ ]:
# Step 5: Initialize the coefficients
coef = np.zeros(X_train.shape[1])

In [ ]:
# Step 6: Define the cost function
def ridge_cost(X, y, coef, lambda_param):
    n_samples = X.shape[0]
    y_pred = X.dot(coef)
    ridge = lambda_param * np.sum(np.square(coef))
    cost = (1/(2*n_samples)) * np.sum(np.square(y - y_pred)) + ridge
    return cost

In [ ]:
import numpy as np

def ridge_regression(X, y, lambda_param, alpha, n_epochs):
    # initialize coefficients to zeros
    coef = np.zeros(X.shape[1])
    # run gradient descent for n_epochs
    for epoch in range(n_epochs):
        # calculate predicted values and error
        y_pred = X.dot(coef)
        error = y_pred - y
        # calculate gradient with L2 regularization
        gradient = (1/X.shape[0]) * X.T.dot(error) + lambda_param * coef
        # update coefficients using gradient descent
        coef = coef - alpha * gradient
    return coef

In [ ]:
X_test = (X_test - np.mean(X_train, axis=0)) / np.std(X_train, axis=0)
y_pred_test = X_test.dot(coef)

In [ ]:
# Compute the mean squared error
mse = np.mean((y_test - y_pred_test) ** 2)
print("Mean squared error: {:.2f}".format(mse))